@model ViewModels.AdminDashboardViewModel


@{
    Layout = "~/Views/Admin/Shared/_Layout.cshtml";
}

<style>

    .skin-settings .skin-sett-icon {
        display: none
    }
</style>


<div class="page-wrapper">

    <div class="content container-fluid">

        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <ul class="breadcrumb">
                        <h3 class="breadcrumb-item active">Brand Dashboard!</h3>
                    </ul>
                </div>
            </div>
        </div>
               
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Brand</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table mb-0">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Title</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var Brand in Model.Brand)
                                    {
                                        <tr>
                                            <td>@Brand.Id</td>

                                            <td>

                                                <input type="text" id="getCategoryName@(Brand.Id)" name="categoryTitle@(Brand.Id)" value="@Brand.title" />
                                                <input type="hidden" id="getCategoryId@(Brand.Id)" name="categoryId@(Brand.Id)" value="@Brand.Id" />

                                            </td>


                                            @*<td>@category.ExpiryDate</td>
                                                <td>@product.qty_stock</td>
                                                <td><a href="/admin/category/edit/@(category.Id)"><i class="fa fa-edit"></i></a></td>*@

                                            <script>
                                            function getInput@(Brand.Id)() {
                                                var getCategoryName = $("#getCategoryName@(Brand.Id)").val();
                                                var getCategoryId = $("#getCategoryId@(Brand.Id)").val();
                                                window.location.href = "/admin/brand/edit/"+getCategoryId+"/"+getCategoryName;
                                                console.log(getCategoryName);
                                            }
                                            </script>

                                            <td><a onclick="getInput@(Brand.Id)();"><i class="fa fa-edit"></i></a></td>
                                            <td><a href="/admin/brand/delete/@(Brand.Id)"><i class="fa fa-trash"></i></a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="card">

                    <div class="card-header">
                        <h4 class="card-title">Add Brand</h4>
                    </div>


                    <div class="card-body">
                        <form action="/admin/brand/add/post" method="post" enctype="multipart/form-data">

                            <div class="form-group row">
                                
                                <label class="col-form-label col-md-2">Brand Title</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" name="title">
                                </div>
                            </div>


                            <input type="submit" name="submit" class="btn btn-primary" value="Add" />


                        </form>
                    </div>

                </div>

            </div>
        </div>



    </div>
</div>