@model ViewModels.ProductViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="prdct_dtls_page_area">
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-xs-12">
                <div class="pd_img fix">
                    <a class="venobox" href="img/product/3.jpg">
                        <img src="~/assets/img/product/1.jpg" alt="" />
                    </a>
                </div>
            </div>

            <div class="col-md-6 col-xs-12">
                <div class="prdct_dtls_content">


                    <form action="/cart/add" method="post">

                        <input type="hidden" name="productId" value="@Model.Product.Id" />

                        <a class="pd_title" href="#">@Model.Product.Title</a>

                        @if (Model.Price.Count > 0)
                        {
                            foreach (var price in @Model.Price)
                            {
                                <input type="radio" name="priceId" value="@price.Id" /> @price.Title <small>$@(price.sale_price)</small> <br />
                            }
                        }

                        @*<select>
                                Select Pricing
                                <option>Unit: 5$</option>
                                <option>File: 200$</option>
                                <option>Box: 400$</option>
                            </select>
                        *@
                        <div class="cp_quntty">
                            <input name="quantity" value="1" size="1" type="number">
                        </div>

                        <div class="pd_text">
                            <h4>Details:</h4>
                            <p>
                                @Model.Product.Description                            .
                            </p>
                        </div>

                        <div class="pd_btn fix">
                            <input type="submit" name="submit" class="btn btn-default acc_btn" value="add to cart" />
                            @*<a class="btn btn-default acc_btn btn_icn"><i class="fa fa-heart"></i></a>*@
                        </div>
                    </form>



                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div class="pd_tab_area fix">
                    <ul class="pd_tab_btn nav nav-tabs" role="tablist">
                        <li>
                            <a class="active" href="#description" role="tab" data-toggle="tab">Description</a>
                        </li>
                        <li>
                            <a href="#information" role="tab" data-toggle="tab">Information</a>
                        </li>
                    </ul>

                    <div class="tab-content">

                        <div role="tabpanel" class="tab-pane fade show active" id="description">
                            <p>
                                this is details
                                this is details
                                this is details
                                this is details
                                this is details
                                this is details
                                this is details
                                this is details
                                this is details
                                this is details
                                this is details
                                this is details
                                this is details
                                this is details
                                this is details
                                this is details
                                this is details
                            </p>
                            <ul>
                                this is details
                                this is details
                                this is details
                                this is details
                                this is details
                                this is details
                                this is details
                                this is details
                                this is details
                                this is details
                                this is details
                                this is details
                                this is details
                            </ul>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="information">
                            <p>
                                this is details
                                this is details
                                this is details
                                this is details
                                this is details
                                this is details
                                this is details
                                this is details
                                this is details
                                this is details
                                this is details
                                this is details
                                this is details
                                this is details
                                this is details
                                this is details
                                this is details
                            </p>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="related_prdct_area text-center">
    <div class="container">

        <div class="rp_title text-center"><h3>Related products</h3></div>

        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single_product">
                    <div class="product_image">
                        <img src="~/assets/img/product/1.jpg" alt="" />
                        <div class="box-content">
                            <a href="#"><i class="fa fa-heart-o"></i></a>
                            <a href="#"><i class="fa fa-cart-plus"></i></a>
                            <a href="#"><i class="fa fa-search"></i></a>
                        </div>
                    </div>

                    <div class="product_btm_text">
                        <h4><a href="#">Product Title</a></h4>
                        <span class="price">$123.00</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single_product">
                    <div class="product_image">
                        <img src="~/assets/img/product/1.jpg" alt="" />
                        <div class="box-content">
                            <a href="#"><i class="fa fa-heart-o"></i></a>
                            <a href="#"><i class="fa fa-cart-plus"></i></a>
                            <a href="#"><i class="fa fa-search"></i></a>
                        </div>
                    </div>

                    <div class="product_btm_text">
                        <h4><a href="#">Product Title</a></h4>
                        <span class="price">$123.00</span>
                    </div>
                </div>
            </div> <!-- End Col -->

            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single_product">
                    <div class="product_image">
                        <img src="~/assets/img/product/1.jpg" alt="" />
                        <div class="box-content">
                            <a href="#"><i class="fa fa-heart-o"></i></a>
                            <a href="#"><i class="fa fa-cart-plus"></i></a>
                            <a href="#"><i class="fa fa-search"></i></a>
                        </div>
                    </div>

                    <div class="product_btm_text">
                        <h4><a href="#">Product Title</a></h4>
                        <span class="price">$123.00</span>
                    </div>
                </div>
            </div> 

            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single_product">
                    <div class="product_image">
                        <img src="~/assets/img/product/1.jpg" alt="" />
                        <div class="box-content">
                            <a href="#"><i class="fa fa-heart-o"></i></a>
                            <a href="#"><i class="fa fa-cart-plus"></i></a>
                            <a href="#"><i class="fa fa-search"></i></a>
                        </div>
                    </div>

                    <div class="product_btm_text">
                        <h4><a href="#">Product Title</a></h4>
                        <span class="price">$123.00</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
